body {

    display: flex;

    justify-content: center;

    align-items: center;

    

    background-color: rgb(223, 233, 245);
}

.title{


    display: flex;

    justify-content: center;
    flex-direction: column;

    align-items: center;
    font-size: 79px;
    font-weight: 800;

    

    width: 50rem;

    height: 30rem;

    margin-right: 4rem;

}

.title p {

    margin: 0;

    padding: 0;

     background: linear-gradient(45deg, #0b07ff, #ea00ff,#320136);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
}

.login {

 width: 400px;

 height: 570px;

  

 margin-top: 20px;
 
 
 border-radius: 11px;
  

  background-color:white;


  justify-content: center;

  align-items: center   ;


}

.login h2 {

    font-weight: 50;
}


.input-div{
   display: flex;
  
   
   flex-direction: column;

   

   margin:  20px;

   align-items: end;

   
   
}


.input-div input {

    width: 100%;

  height: 50px;

  
  margin:  10px 0px;

  background-color: rgb(223, 233, 245);

  border-radius: 11px;

  box-shadow: none;
}

.input-div a{


    text-decoration: none; /* Remove underline */
    color: black; /* Set your desired color */
}

.btn {
       margin-top: 20px;
    width: 100%;
     

    height: 50px;

    border-radius: 11px;

    box-shadow: none;
  background-color: tomato;



}



.welcome-div{
  


  
  
    justify-content: center;

    align-items: center   ;
  

    display: flex;
    flex-direction: column;

   



}


.welcome-div h2 {

    margin: 0;

    padding: 0;
    font-size: 20px;
}

.p{

    padding: 0;

    margin: 0;
}


.social-media{

    width: 100%;

  
    display: flex;

    justify-content: space-around;


}

.social-media .Box {

    display: flex;


    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    border: 1px solid;
 
 
     width: 4rem;
 
     height: 4rem;
 
     border-style: solid;
 
     border-color: gray;
 
     border-width: 0.5px;

     border-radius: 11px;

}
.logo {


    width: 50px;
    height: auto;
    
}

.foot p{

    margin: 0;
     margin-right: 10px;

    padding: 0;
}


.foot{

    margin-top: 20px;

     width: 100%;
    display: flex;

    align-items: center;

    justify-content: center;
}

.foot a{


    text-decoration: none; /* Remove underline */
    color: rgb(180, 76, 60); /* Set your desired color */
}

